service: JudeSegrov

frameworkVersion: "=1.32.0"

plugins:
- serverless-webpack # Must be first, see https://github.com/99xt/serverless-dynamodb-local#using-with-serverless-offline-and-serverless-webpack-plugin
- serverless-offline

custom:
  env: ${env:ENV, 'development'} # Defaults to "development" if not provided (see package.json scripts)
  envs:
    development: # XXX "development" environment is "localhost", therefore we don't deploy against AWS at all
      profile: ''
      memorySize:
    staging:
      profile: ''
      memorySize: 128 # XXX Takes around 6-10s to warm up the lambda with 128MB
    production:
      profile: ''
      memorySize: 128
  serverless-offline:
    port: 3000 # We run our SLS/Express endpoints there 
  webpack:
    packager: 'yarn'
    includeModules:
      # Enable auto-packing of external modules
      # See https://serverless-stack.com/chapters/add-support-for-es6-es7-javascript.html
      forceInclude:

      forceExclude:
      - aws-sdk

provider:
  name: aws
  runtime: nodejs8.10
  versionFunctions: false # See https://serverless.com/framework/docs/providers/aws/guide/functions#versioning-deployed-functions
  stage: ${self:custom.env} # XXX The stage directly depends on the environment, it's the same thing
  region: ${opt:region, 'eu-west-1'} # Ireland by default, must always be Ireland
  environment:
    NODE_ENV: ${self:custom.env} # XXX Necessary to provide this because sometimes some packages rely on the NODE_ENV
  profile: ${self:custom.envs.${self:custom.env}.profile}
  deploymentBucket:
    serverSideEncryption: AES256
  stackTags:
    env: ${self:custom.env}
    stage: ${self:provider.stage}
    region: ${self:provider.region}

functions:
  server:
    handler: src/functions/server/server.handler
    events:
    - http:
        method: GET
        path: /
    - http:
        method: ANY
        path: /{any+} # Catch all unknown routes and redirect to main handler

